<div class="projects-page">
    <ul>
        <li class="project" ng-repeat="product in products">
            <div class="project-description">
                <div class="project-name">
                    <a ng-href="#product/{{product.id}}">
                        {{product.name}}
                    </a>
                </div>
                {{product.description}}
            </div>
        </li>
    </ul>
    <form ng-submit="add()">
        <input ng-model="newProduct.name"
               type="text"
                placeholder="Name"/>
        <input ng-model="newProduct.description"
               type="text"
                placeholder="Description"/>
        <input type="submit" value="+"/>
    </form>
</div>