<div class="projects-page">
    <h1>{{product.name}}</h1>

    <p>{{product.description}}</p>

    <h3>Comments:</h3>
    <ul>
        <li class="comment" ng-repeat="comment in product.comments">
            {{comment}}
        </li>
    </ul>
    <div ng-if="product.comments.length == 0">No comments here! You can add a new one right here:</div>
    <form ng-submit="addComment()">
        <input ng-model="comment"
               type="text"/>

        <input type="submit" value="+"/>
    </form>
</div>