<div class="projects-page">
    <ul>
        <li class="project" ng-repeat="project in projects">
            <div ng-if="project.image"
                 class="project-image">
                <img ng-src="{{project.image}}" width="100"/>
            </div>
            <div class="project-name">
                <a ng-href="{{project.url}}" target="_blank">
                    {{project.name}}
                </a>
            </div>
            <div class="project-description">
                {{project.description}}
            </div>
            <div class="project-skills">
                <div class="project-skill" ng-repeat="skill in project.skills">
                    <img class="project-skill-logo" width="100" ng-src="img/skills/{{skill.logo}}" ng-if="skill.logo"/>
                    <span class="project-skill-name">{{skill.name}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>