$footer-height: 4em;

html, body{
  font: 14px/1.5em 'PT Sans', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
ul{
  padding: 0;
  list-style: none;
}

header{
  padding: $grid-step*2 0;
  display: block;
  background-color: rgba(82, 140, 224, 0.02);
  box-shadow: 0 1px 3px rgba(204, 204, 204, 0.2);
  nav {
    display: flex;
    margin: 0 auto;
    a {
      display: inline-block;
      margin-right: $grid-step*2;
    }
  }

  .logo {
    font-size: 1.143em;
    margin-bottom: $grid-step*2;
  }
}

.center-wrapper{
  width: 1024px;
  margin: 0 auto;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: $footer-height;
}

footer{
  margin-top: -$footer-height;
  min-height: $footer-height;
}