.projects-page {
  .project {
    padding: $grid-step * 2;
    display: flex;
    &:hover {
      background-color: rgba(82, 140, 224, 0.1);
    }
    &-image {
      display: inline-block;
      flex: 0 0 100px;
      vertical-align: middle;
      img {
        width: 100px;
      }
    }
    &-description {
      display: inline-block;
      vertical-align: middle;
      flex: 0 1 auto;
      padding-left: $grid-step * 2;
    }
    &-skills {
      display: none;
    }
    &-skill {
      display: inline-block;
      &-logo {
      }
    }
  }
}