$padding-step: $grid-step * 2;
$image-width: 100px;
.projects-page {
  .project {
    padding: $padding-step $padding-step $padding-step $image-width + 2*$padding-step;
    display: block;
    position: relative;
    &:hover {
      background-color: rgba(82, 140, 224, 0.1);
    }
    &-image {
      position: absolute;
      left: $padding-step;
      top: $padding-step;
      width: 100px;
      img {
        width: 100%;
      }
    }
    &-description {
      &:after{
        clear: both;
      }
    }
    &-skills {
      display: block;
    }
    &-skill {
      display: inline-block;
      &-logo {
        width: 25px;
        vertical-align: middle;
      }
      &-name {
        width: 25px;
        vertical-align: middle;
        &:after {
          content: ', ';
          margin-right: $grid-step;
        }
      }
      &:last-child{
        .project-skill-name:after {
          content: '';
        }
      }
    }
  }
}